ion-badge {
    --padding-end: 5px;
    --padding-start: 5px;
    width: 50px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    color: #fff;
}

.grid-home {
    display: grid;
    height: 100%;
    grid-template-rows: 20% 70% 10%;
}

.card-container {
    height: 100%;
    overflow-y: auto;
}

.text-center {
    text-align: center;
}

.total-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border: 1.5px solid #000;
    margin: 0 10px;
}

.total-item {
    text-align: center;
    padding: 10px;
}

.total-item h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.total-item p {
    font-size: 14px;
    margin: 0;
}

.color-carbo {
    color: #2dd36f;
}

.color-gord {
    color: #eb445a;
}

.color-proteina {
    color: #3880ff;
}

.text-color {
    color: #fff;
}

.card-content {
    padding: 0;
}

.fab-config {
    position: fixed;
    bottom: 10%;
    right: 5%;
}

.fab-add {
    position: fixed;
    bottom: 10%;
    right: 5%;
}

.fab-reset {
    position: fixed;
    bottom: 10%;
    right: 5%;
}

.fab-generate {
    position: fixed;
    bottom: 10%;
    left: 5%;
}

.fab-save {
    position: fixed;
    bottom: 10%;
    left: 5%;
}